.forecast-wrapper-5d {
    margin: 5vh 0;
    margin-bottom: 0;
}
.forecast-wrapper {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.forecast-details {
    border: 1px solid #0d6efd;
    border-radius: 4px;
    padding: 5vh 5vw;
    margin-bottom: 10px;
}
.forecast-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.selected-location-wrapper {
    margin: 5vh 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.manage-favorites-btn {
    height: 40px;
    width: 210px;
}
.manage-favorites-btn i {
    padding-right: 5px;
}
.tab-content {
    padding: 5vh;
    border: 1px solid blue;
}
